// -------------------------------
// FORM
// -------------------------------

input[type="text"], input[type="number"], input[type="email"], input[type="password"], textarea {
	@include form-input;
}

textarea {
	vertical-align: top;
}

.form-control {
	width: 100%;
}

.btn {
	@include button;

	&-red {
		background-color: $color-red;

		&:hover {
			background-color: $color-red-lighten;
		}
	}

	&-white {
		background-color: #fff;
		color: $color-red;

		&:hover {
			color: #fff;
			background-color: $color-darker;
		}
	}
}

.btn-block {
	display: block;
	width: 100%;
}

input[type="button"], input[type="submit"], button {
	@include button;
	border: none;
}