// -------------------------------
// Font Face
// -------------------------------
@font-face {
  font-family: 'nexa_regularregular';
  src: url('ff/fontfabric_-_nexaregular-webfont.eot');
  src: url('ff/fontfabric_-_nexaregular-webfont.eot?#iefix') format('embedded-opentype'),
       url('ff/fontfabric_-_nexaregular-webfont.woff2') format('woff2'),
       url('ff/fontfabric_-_nexaregular-webfont.woff') format('woff'),
       url('ff/fontfabric_-_nexaregular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nexa_heavyregular';
  src: url('ff/nexa_heavy-webfont.eot');
  src: url('ff/nexa_heavy-webfont.eot?#iefix') format('embedded-opentype'),
       url('ff/nexa_heavy-webfont.woff2') format('woff2'),
       url('ff/nexa_heavy-webfont.woff') format('woff'),
       url('ff/nexa_heavy-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


// -------------------------------
// setting up global
// -------------------------------

*, *::before, *::after {
	box-sizing: border-box;
}

body {
	background: url(../img/bg.png) #f8f8f8;
	background-size: 100px 100px;
	font: 16px/1.5 $font;
	color: $color;
}

a {
  @include transition(all .1s);
  color: $color-red;

  &:hover {
    color: $color-red-lighten;
  }
}

img {
  max-width: 100%;
  height: auto;
}

// -------------------------------
// typography
// -------------------------------

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: $font-bold;
  color: $color-darker;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl, table, blockquote {
  margin: 0 0 15px;
}

h1, .h1 {font-size: 36px; line-height: 1.1}
h2, .h2 {font-size: 27px; line-height: 1.2}
h3, .h3 {font-size: 24px; line-height: 1.2}
h4, .h4 {font-size: 21px;}
h5, .h5 {font-size: 18px;}

.font-display {font-family: $font-display;}

strong, b, .lead {font-family: $font-bold}

.lead {
  font-size: 18px;

  @media (min-width: $tablet) {
    font-size: 24px;
  }
}

*:not(img), *:not(h2), *:not(h3), *:not(h4), *:not(h5), *:not(h6) {
  + h2, + h3, + h4, + h5, + h6 {
    margin-top: 30px;
  }
}

// -------------------------------
// List
// -------------------------------

ol, ul {
  padding-left: 20px;
}