// -------------------------------
// GRID
// -------------------------------

$column: 12;

.container {
	max-width: 1200px;
	padding: 0 $margin;
	margin: 0 auto;
	position: relative;
}

.row {
	margin: 0 -10px;
	@include clearfix;
}

[class^="grid"] {
	float: left;
	padding: 0 $margin;
}

.grid {width: 100%}
.grid-1-12 { width: percentage(1/$column); }
.grid-2-12 { width: percentage(2/$column); }
.grid-3-12 { width: percentage(3/$column); }
.grid-4-12 { width: percentage(4/$column); }
.grid-6-12 { width: percentage(6/$column); }
.grid-8-12 { width: percentage(8/$column); }
.grid-9-12 { width: percentage(9/$column); }
.grid-10-12 { width: percentage(10/$column); }

// @media (max-width: $mobile-max) {
// 	[class^="grid"] {
// 		width: auto;
// 		float: none;
// 	}
// }
