// -------------------------------
// Header
// -------------------------------

.header {
	background: #fff;
	padding: 15px 0;
	@include clearfix;
	// box-shadow: 0 1px 1px rgba(0,0,0,.1);
	// position: relative;
	// z-index: 1;
}

.header__logo a {
	width: 180px;
	height: 45px;
	background: url(../img/pfc-logo.png) no-repeat;
	background-size: 100% auto;
	float: left;
}