// -------------------------------
// Header
// -------------------------------

.header {
	background: #fff;
	padding: 15px 0;
	@include clearfix;

	@media (max-width: $mobile-max) {
		box-shadow: 0 1px 10px rgba(0,0,0,.1);
		position: relative;
		z-index: 1;
	}
}

.header__logo a {
	width: 180px;
	height: 45px;
	background: url(../img/pfc-logo.png) center no-repeat;
	background-size: 180px auto;
	float: left;

	@media (max-width: $mobile-max) {
		width: 120px;
		height: 30px;
		background-size: 120px auto;
	}
}

.home {
	@media (min-width: $tablet) {
		.header {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			background-color: transparent;
			z-index: 2;
		}

		.header__logo a {
			background-color: #fff;
			padding: 15px;
			box-sizing: content-box;
			margin-top: -15px;
			margin-left: 8px;
		}
	}
}