// -------------------------------
// LAYOUT
// -------------------------------

.content {
	@include clearfix;
	padding: 60px 0 80px;
}

.content__main {
	padding: 0 15px;

	@media (min-width: $tablet) {
		width: percentage(8/$column);
		float: left;
	}
}

.content__side {
	padding: 0 15px;

	@media (min-width: $tablet) {
		width: percentage(4/$column);
		float: left;
	}
}

// -------------------------------
// SECTION
// -------------------------------

.section__page-title {
	background: #fff url(../img/section-page-title-bg.png) right top no-repeat;
	background-size: 322px auto;
	padding: 30px 0 20px;

	.page-title {
		margin-bottom: 0;
	}
}

.page-title {
	color: $color-red;
}