// -------------------------------
// NAVIGATION
// -------------------------------

// .nav__container {
// 	@include clearfix;
// 	position: fixed;
// 	height: 45px;
// 	padding-top: 15px;
// 	top: 0;
// 	right: 0;
// 	z-index: 1;

// 	@media (max-width: $mobile-max) {



// 	}
// }

.nav {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 2;
	font-size: 14px;
	font-family: $font-bold;
	text-transform: uppercase;

	@media (min-width: $tablet) {
		padding-top: $margin;
		text-align: right;
	}

	.container {
		@media (max-width: $mobile-max) {
			padding-left: 0;
			padding-right: 0;
		}
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	a {
		color: $color;

		&:hover {
			color: $color-red;
		}
	}

	// main menu
	.container > ul {

		> li {

			@media (min-width: $tablet) {
				display: inline-block;

				&:not(:last-child) {
					margin-right: 5px;
				}
			}

			> a {
				padding: 10px;
				display: block;
			}

			@media (max-width: $mobile-max) {
				> a {
					color: #999;
					padding: $margin;
					border-bottom: 1px dotted #333;
					background-color: darken($color-darker, 8);
				}
			}
		}
	}

	.menu-item-has-children {
		position: relative;


		@media (min-width: $tablet) {
			&:hover {
				.sub-menu {
					opacity: 1;
					visibility: visible;
					top: 100%;
				}
			}
		}
	}

	// sub menu
	.sub-menu {
		font-family: $font;
		text-transform: none;
		@include transition(all .25s);
		z-index: 1;

		@media (min-width: $tablet) {
			text-align: center;
			opacity: 0;
			visibility: hidden;
			position: absolute;
			left: 50%;
			@include transform(translateX(-50%));
			width: 180px;
			top: 90%;
			border-radius: 2px;
			box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
			background: $color-darker;

			&::before {
				width: 0;
				height: 0;
				border-width: 8px;
				border-style: solid;
				border-color: transparent transparent $color-darker;
				content: '';
				position: absolute;
				top: -16px;
				left: 50%;
				@include transform(translateX(-50%));
			}

			a {
				color: #ccc;
				padding: 10px 20px;
				display: block;
				text-decoration: none;

				&:hover {
					color: #fff;
					background-color: rgba($color,.5);
				}
			}
		}

		@media (max-width: $mobile-max) {
			a {
				display: block;
				color: #666;
				padding: $margin $margin $margin $margin*2;

				&:hover {
					color: #fff;
					background-color: rgba($color,.5);
				}
			}
		}


	}

	// current page
	.current-menu-item > a {
		color: $color-red
	}

	@media (max-width: $mobile-max) {
		overflow: scroll;
		position: fixed;
		background: darken($color-darker,5);
		right: 0;
		width: 260px;
		z-index: 2;
		top: 0;
		bottom: 0;
		-webkit-overflow-scrolling: touch;
		@include transform(translateX(100%));
		@include transition(transform .5s cubic-bezier(0.165, 0.840, 0.440, 1.000));
	}
}

.nav--is-toggled {
	overflow-y: scroll;

	body {
		overflow: hidden;

		> * {
			@include transform(translateX(-260px));
		}
	}

	.nav {
		box-shadow: 0 0 20px rgba(0,0,0,.5);
		@include transform(translateX(0));
	}
}


// Custom NAV style for CSS
.home {
	@media (min-width: $tablet) {
		.menu > li > a {
			color: #fff;

			&:hover {
				color: $color-red;
			}
		}
	}

	&.scrolled-down {
		.menu > li > a {
			color: $color;

			&:hover {
				color: $color-red;
			}
		}
	}
}

// Nav Mobile
.nav__mobile {
	float: right;

	ul {
		margin-bottom: 0;
	}

	li {
		display: inline-block;
		font-size: 10px;
		text-transform: uppercase;
		font-family: $font-bold;

		&:not(:last-child) {
			margin-right: 10px;
		}

		a {
			//text-decoration: none;
			color: $color-darker;
		}

		i {
			display: block;
			width: 18px;
			height: 18px;
			margin: 0 auto;
			text-align: center;
			position: relative;
		}
	}

	@media (min-width: $tablet) {
		display: none;
	}

	&__shop, &__cart {

		i {
			background: url(../img/mobile-nav-icon.svg) no-repeat;

			.no-svg & {
				background-image: url(../img/mobile-nav-icon.png);
			}
		}
	}

	&__cart i {background-position: right}

	&__menu {
		b {
			display: block;
			width: 12px;
			height: 2px;
			background-color: $color-darker;
			position: absolute;
			left: 2px;

			&:first-child {top: 4px; @include transition(all .5s cubic-bezier(0.165, 0.840, 0.440, 1.000));}
			&:nth-child(2) {top: 8px; @include transition(all .5s cubic-bezier(0.165, 0.840, 0.440, 1.000));}
			&:last-child {top: 12px; @include transition(all .5s cubic-bezier(0.165, 0.840, 0.440, 1.000));}
		}

		.nav--is-toggled & {
			color: $color-red;

			b {
				background-color: $color-red;

				&:nth-child(2) {display: none;}
				&:first-child {
					top: 8px;
					background-color: $color-red;
					@include transform(rotate(45deg));
				}
				&:last-child {
					top: 8px;
					background-color: $color-red;
					@include transform(rotate(-45deg));
				}

			}

		}
	}
}

