// -------------------------------
// NAVIGATION
// -------------------------------

.nav {
	float: right;
	font-size: 14px;
	font-family: $font-bold;
	text-transform: uppercase;

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	a {
		color: $color;

		&:hover {
			color: $color-red;
		}
	}

	// main menu
	> ul {

		> li {
			display: inline-block;
			padding: 10px;

			&:not(:last-child) {
				margin-right: 5px;
			}
		}

	}

	.menu-item-has-children {
		position: relative;

		&:hover {
			.sub-menu {
				opacity: 1;
				visibility: visible;
				top: 100%;
			}
		}
	}

	// sub menu
	.sub-menu {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		background: $color-darker;
		font-family: $font;
		text-transform: none;
		text-align: center;
		left: 50%;
		@include transform(translateX(-50%));
		@include transition(all .25s);
		z-index: 1;
		border-radius: 2px;
		box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
		width: 180px;
		top: 90%;

		a {
			color: #ccc;
			padding: 10px 20px;
			display: block;
			text-decoration: none;

			&:hover {
				color: #fff;
				background-color: rgba($color,.5);
			}
		}

		&::before {
			width: 0;
			height: 0;
			border-width: 8px;
			border-style: solid;
			border-color: transparent transparent $color-darker;
			content: '';
			position: absolute;
			top: -16px;
			left: 50%;
			@include transform(translateX(-50%));
		}
	}

	// current page
	.current-menu-item > a {color: $color-red}
}

.home {
	@media (min-width: $mobile-max) {
		.nav a {
			color: #fff;

			&:hover {
				color: $color-red;
			}
		}
	}

}