// -------------------------------
// PAGE - COMMON
// -------------------------------
.section__page-title--page {
	.page-title {
		color: $color-darker;
		margin: 0 0 20px;
	}
}


// -------------------------------
// PAGE - CUSTOM STYLE
// -------------------------------

.section__page-header {
	background-color: $color-darker;
	background-size: cover;
	background-repeat: no-repeat;
	color: $color-darker-text;
	position: relative;

	&--deco {
		&::before {
			background: url(../img/page-header-bg-deco.png) top right no-repeat;
			background-size: 400px auto;
			width: 300px;
			height: 300px;
			position: absolute;
			right: 0;
			bottom: 0;
			content: '';
		}
	}

	.page-title {
		font-family: $font-display;
		font-size: 56px;

		@media (min-width: $tablet) {
			font-size: 72px;
		}
	}

	.lead {
		color: #fff;
	}
}

// -------------------------------
// SECTION STYLES
// -------------------------------
.section {
	padding: 60px 0;
}

// Page title
.section__page-title {
	background: #fff url(../img/section-page-title-bg.png) right top no-repeat;
	background-size: 322px auto;
	padding: 30px 0 20px;
}

.page-title {
	color: $color-red;
}

// Section Red
.section--red {
	background: url(../img/bg-red.png) $color-red;
	background-size: 100px auto;
	color: #ffd2d2;
	position: relative;

	h1, h2, h3, h4, h5, h6, b, strong {
		color: #fff
	}

	a:not(.btn) {
		color: #fff;
	}

	&.stripes {
		&::before {
			content: '';
			background: url(../img/bg-red-stripes.png) center no-repeat;
			background-size: 1066px auto;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
		}
	}
}


.section__header {
	text-align: center;

	@media (min-width: $desktop) {
		padding: 0 10%;
	}
}

.section-title {
	&--display {
		font-family: $font-display;
		font-size: 54px;
	}
}

// -------------------------------
// PAGE - ABOUT
// -------------------------------

.section__page-header {
	&--about {
		background-image: url(../img/about-header-bg.jpg);

	}
}

.map {
	height: 600px;
}

.section__about__courses {
	background: url(../img/about-course-bg.jpg) -200px no-repeat #e3e4e2;
	background-size: auto 120%;

	@media (min-width: $tablet) {
		padding-top: 90px;
		padding-bottom: 90px;
	}

	@media (min-width: $desktop) {
		background-position-x: -100px;
	}

	@media (min-width: $desktop-lg) {
		background-position-x: 0;
	}

	@media (max-width: $mobile-max) {
		background-position: center bottom -200px;
		background-size: $mobile-max auto;
		padding-bottom: 400px;
	}

	@at-root .about__courses {
		text-align: center;


		@media (min-width: $tablet) {
			width: 50%;
			position: relative;
			left: 50%;
			text-align: left;
		}

		ul {
			list-style: none;
			padding-left: 0;
		}

		a {
			font-family: $font-bold;

			&::before {
				content: "> ";
			}
		}
	}
}

.section__about__trainers {
	text-align: center;

	.btn {
		padding-left: 60px;
		padding-right: 60px;
	}
}

.trainers {
	list-style: none;
	padding-left: 0;
	@include clearfix;
	font-size: 14px;

	.trainer {
		position: relative;
		margin: 30px 0;

		@media (min-width: $tablet) {
			width: percentage(1/3);
			padding: 0 15px;
			float: left;
		}

		&__image {
			border-radius: 50%;
			border: 3px solid #fff;
			max-width: 80px;
			height: auto;
		}

		&__profile {

			h5 {
				margin-bottom: 5px;
			}

			*:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.section__about__studio {
	background: #fff;
}

.map {
	margin-top: 20px;
	box-shadow: 0 2px 10px rgba(0,0,0,.1);
}


// -------------------------------
// PAGE - 404
// -------------------------------
.error404 {
	.content {
		padding: 100px 0;
	}
}