// -------------------------------
// PAGE - COMMON
// -------------------------------
.section__page-title--page {
	.page-title {
		color: $color-darker;
	}
}


// -------------------------------
// PAGE - CUSTOM STYLE
// -------------------------------

.section__page-header {
	background: $color-darker center no-repeat;
	background-size: cover;
	color: $color-darker-text;
	position: relative;

	&--deco {
		&::before {
			background: url(../img/page-header-bg-deco.png) top right no-repeat;
			background-size: 400px auto;
			width: 300px;
			height: 300px;
			position: absolute;
			right: 0;
			bottom: 0;
			content: '';
		}
	}

	.page-title {
		font-family: $font-display;
		font-size: 56px;

		@media (min-width: $tablet) {
			font-size: 72px;
		}
	}

	.lead {
		color: #fff;
	}
}

// -------------------------------
// SECTION STYLES
// -------------------------------
.section {
	padding: 60px 0;

	&.no-padding {
		padding: 0;
	}

	&--lg {
		padding: 90px 0;
	}
}

// Page title
.section__page-title {
	background: #fff url(../img/section-page-title-bg.png) right top no-repeat;
	background-size: 322px auto;
	padding: 30px 0 20px;

	.page-title:last-child {
		margin-bottom: 0;
	}
}

.page-title {
	color: $color-red;
}

// Section Red
.section--red {
	background: url(../img/bg-red.png) $color-red;
	background-size: 100px auto;
	color: #ffd2d2;
	position: relative;

	h1, h2, h3, h4, h5, h6, b, strong {
		color: #fff
	}

	a:not(.btn) {
		color: #fff;
	}

	&.stripes {
		&::before {
			content: '';
			background: url(../img/bg-red-stripes.png) center no-repeat;
			background-size: 1066px auto;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
		}
	}
}


.section__header {
	text-align: center;

	@media (min-width: $desktop) {
		padding: 0 10%;
	}
}

.section-title {
	&--display {
		font-family: $font-display;
		font-size: 54px;
	}
}

// -------------------------------
// PAGE - HOME
// -------------------------------

.section__home__fitness {
	background: url(../img/home-fitness-bg.jpg) center top no-repeat #d4d6d5;
	background-size: 650px auto;

	&.section {
		padding-bottom: 0
	}
}

.section__home__why {
	background: url(../img/home-why-bg.jpg) no-repeat $color;
	background-size: cover;
	color: $color-darker-text;

	.section-title {
		color: #fff;
	}
}

.section__home__shop {
	background-color: #fff;
}


// testimonials
.testimonials {
	padding: 0 10%;

	@media (min-width: $desktop) {
		padding: 0 20%;
	}
}
.testimonial {
	overflow: hidden;
	padding: 30px 0;

	&__portrait {
		width: 80px;
		height: auto;
		border-radius: 50%;
		border: 4px solid #fff;
		box-shadow: 0 1px 0 rgba(0,0,0,.1);
		margin: 0 auto;

		@media (min-width: $mobile) {
			float: left;
		}
	}

	&__content {
		@media (min-width: $mobile) {
			padding-left: 95px;
			font-size: 18px;
		}

		@media (max-width: $mobile - 1px) {
			text-align: center;
			margin-top: 20px;
		}
	}

	h6 {
		margin-bottom: 0;
		color: $color-red;
	}

	.testimonee__course {
		font-size: 13px;
		color: $color-lighter;
		display: block;
	}
}

.slick-arrow {
	position: absolute;
	top: 50%;
	@include transform(translateY(-50%));
	background: url(../img/slick-arrow.svg) no-repeat;
	width: 32px;
	height: 48px;
	padding: 0;
	text-indent: 100%;
	overflow: hidden;

	&:hover, &:focus {
		background-color: transparent;
		box-shadow: none;
		outline: 0;
	}

	.no-svg & {
		background-image: url(../img/slick-arrow.png);
	}

	@media (max-width: $mobile - 1px) {
		display: none !important;
	}
}

.slick-next {
	right: 0;
	background-position: right;
}

.slick-prev {
	left: 0;
}

.slick-dots {
	list-style: none;
	padding-left: 0;
	text-align: center;

	li {
		display: inline-block;
		padding: 0 5px;

		&.slick-active {
			button {
				background-color: $color-red;
			}
		}
	}

	button {
		width: 10px;
		height: 10px;
		overflow: hidden;
		padding: 0;
		border-radius: 50%;
		text-indent: 100%;

		&:hover, &:focus {
			background-color: $color-lighter;
			box-shadow: none;
		}
	}
}


// why
.why {
	list-style: none;
	padding-left: 0;
	overflow: hidden;
	margin: 0 -$margin;
	text-align: center;

	h4 {
		margin-bottom: 10px;
		margin-top: 20px;
	}

	li {
		margin-top: 45px;
		padding: 0 $margin;

		@media (min-width: $mobile) {
			float: left;
			width: 50%;

		}

		@media (min-width: $desktop) {
			width: 25%;
		}

	}

	&__icon {
		display: block;
		width: 68px;
		height: 80px;
		background: url(../img/home-why-icon.svg) no-repeat;
		margin: 0 auto;

		.no-svg & {
			background-image: url(../img/home-why-icon.png);

		}
	}

}


// -------------------------------
// PAGE - ABOUT
// -------------------------------

.section__page-header {
	&--about {
		background-image: url(../img/about-header-bg.jpg);

	}
}

.map {
	height: 600px;
}

.section__about__courses {
	background: url(../img/about-course-bg.jpg) -200px no-repeat #e3e4e2;
	background-size: auto 120%;

	@media (min-width: $tablet) {
		padding-top: 90px;
		padding-bottom: 90px;
	}

	@media (min-width: $desktop) {
		background-position-x: -100px;
	}

	@media (min-width: $desktop-lg) {
		background-position-x: 0;
	}

	@media (max-width: $mobile-max) {
		background-position: center bottom -200px;
		background-size: $mobile-max auto;
		padding-bottom: 400px;
	}

	@at-root .about__courses {
		text-align: center;


		@media (min-width: $tablet) {
			width: 50%;
			position: relative;
			left: 50%;
			text-align: left;
		}

		ul {
			list-style: none;
			padding-left: 0;
		}

		a {
			font-family: $font-bold;

			&::before {
				content: "> ";
			}
		}
	}
}

.section__about__trainers {
	text-align: center;

	.btn {
		padding-left: 60px;
		padding-right: 60px;
	}
}

.trainers {
	list-style: none;
	padding-left: 0;
	@include clearfix;
	font-size: 14px;

	.trainer {
		position: relative;
		margin: 30px 0;

		@media (min-width: $tablet) {
			width: percentage(1/3);
			padding: 0 15px;
			float: left;
		}

		&__image {
			border-radius: 50%;
			border: 3px solid #fff;
			max-width: 80px;
			height: auto;
		}

		&__profile {

			h5 {
				margin-bottom: 5px;
			}

			*:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.section__about__studio {
	background: #fff;
}

.map {
	margin-top: 20px;
	box-shadow: 0 2px 10px rgba(0,0,0,.1);
}


// -------------------------------
// PAGE - 404
// -------------------------------
.error404 {
	.content {
		padding: 100px 0;
	}
}