// -------------------------------
// POST TYPE - COMMON
// -------------------------------

// Archive
.post__image {
	height: 240px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: block;
	position: relative;
	@include transition-duration(.5s);
	// opacity: .7;

	// &:hover {
	// 	opacity: 1;
	// }
}

.post__cta {
	margin-top: 10px;
}

.row-flex article {
	@include display(flex);
	@include flex-direction(column);
	width: 100%;

	.post__body {
		@include display(flex);
		@include flex-direction(column);
		@include flex(1 0 auto);


		p {
			@include flex(1 0 auto);
		}
	}
}



// Single
.single-fitness {
	.page-title {
		@media (min-width: $tablet) {
			font-size: 60px;
		}
	}
}

.header__cta {
	margin-top: 30px;
}

.section__content {
	padding-top: 0;

	h2 {
		position: relative;
		padding-bottom: 20px;
		margin-bottom: 20px;
		font-size: 30px;

		&::after {
			content: '';
			position: absolute;
			width: 70px;
			height: 10px;
			background: $color-red;
			left: 0;
			bottom: 0;
		}
	}

	h3 {
		color: $color-red;
	}

	ul {
		@include list-item;
	}

	&--main {
		background: #fff;
		background:
			url(../img/bg-element-star.png) right -60px bottom -60px no-repeat,
			#fff;
		background-size: 359px 333px;
		box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.10);
		padding: 50px 30px;
		margin-bottom: 45px;
		margin-top: -10px;

		@media (min-width: $tablet) {
			padding: 60px 100px;
		}
	}

	&--gallery {
		background-color: $color-darker;
		color: $color-darker-text;
		padding: 50px 30px;
		text-align: center;
		margin-top: -15px;
		position: relative;
		z-index: 1;
	}
}

.gallery {
	&-title {
		font-family: $font-display;
		text-transform: uppercase;
		font-size: 54px;
		color: #b7b7b7;
		display: block;
		text-align: center;
		line-height: 1;
	}

	&-image {
		width: 250px;
		border: 10px solid #fff;
		margin: 0 5px;
	}
}

.section__cta {
	background: #fff;

	&__form {
		background: #f4f4f4;
		box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.20);
		padding: 30px;
		margin-top: 30px;
		position: relative;

		&::after {
			width: 100%;
			height: 0;
			position: absolute;
			content: '';
			border-top: 1px dashed $color-darker-text;
			bottom: 3px;
			left: 0;
		}
	}
}

// -------------------------------
// POST TYPE - FITNESS
// -------------------------------

.fitness {
	.post__image {
		&::before {
			content: '';
			position: absolute;
			background: url(../img/fitness-icon.svg) no-repeat;
			width: 83px;
			height: 90px;
			top: 50%;
			left: 50%;
			@include transform(translate(-50%,-50%));
		}
	}

	&.fitness_category-group-training {
		.post__image::before {
			width: 124px;
			background-position: -83px 0;
		}
	}
}

.single-fitness, .single-course {
	.section__page-header {
		@media (min-width: $tablet) {
			padding-top: 90px;
			padding-bottom: 90px;
		}
	}
}

// Gravity Form
.gform_wrapper .right_label input.medium, .gform_wrapper .right_label select.medium, .gform_wrapper .left_label input.medium, .gform_wrapper .left_label select.medium, .gform_wrapper textarea {
	width: 100% !important;

	@media (min-width: $desktop) {
		width: 70% !important;
	}
}

.gform_wrapper input[type=text], .gform_wrapper input[type=url], .gform_wrapper input[type=email], .gform_wrapper input[type=tel], .gform_wrapper input[type=number], .gform_wrapper input[type=password] {
	padding: 11px 10px !important;
	font-size: 16px !important;
}

.section__cta {
	.gform_wrapper .left_label .gfield_label {
		margin-right: 0;
		padding-right: 15px;
		text-align: right;
		font-family: $font-bold;
		margin-top: 10px;
	}
	.left_label {
		.gfield {
			@include clearfix;
		}
		.ginput_container {
			float: left;
			width: 71%;
		}
	}

	.gform_wrapper .gform_footer.right_label, .gform_wrapper .gform_footer.left_label {
		padding-left: 29%;
		//text-align: center;

		@media (max-width: $mobile-max) {
			padding-left: 0;
			padding-right: 0;

			.gform_button {
				display: block;
				width: 100%;
			}
		}
	}

	@media (max-width: $mobile-max) {
		.gform_wrapper {
			.left_label {
				.gfield_label, .ginput_container {
					float: none;
					width: auto;
				}

			}
		}

	}
}


// -------------------------------
// POST TYPE - COURSE
// -------------------------------
.tag-featured {
	position: relative;

	.post__body {

		&::after {
			content: 'featured';
			text-transform: uppercase;
			font-family: $font-display;
			background-color: $color-red;
			position: absolute;
			top: 0;
			left: 0;
			padding: 3px 8px;
			color: #fff;
			@include transform(rotate(-90deg) translateX(-100%));
			@include transform-origin(0 0);
		}
	}
}

.course {
	.post__image {
		&::before {
			content: '';
			position: absolute;
			background: url(../img/course-icon.png) no-repeat;
			background-size: 384px 252px;
			width: 214px;
			height: 47px;
			top: 50%;
			left: 50%;
			@include transform(translate(-50%,-50%));
		}
	}

	&.course_category-power-plate {
		.post__image::before {
			width: 131px;
			height: 108px;
			background-position: 0 -47px;
		}
	}
	&.course_category-vipr {
		.post__image::before {
			width: 121px;
			height: 121px;
			background-position: -256px -129px;
		}
	}
	&.course_category-cpr-certification {
		.post__image::before {
			width: 245px;
			height: 88px;
			background-position: 0 -163px;
		}
	}
	&.course_category-rumble-roller {
		.post__image::before {
			width: 167px;
			height: 112px;
			background-position: -217px -4px;
		}
	}
}

// -------------------------------
// POST TYPE - TRAINER
// -------------------------------
.trainer {
	@include clearfix;
}

.post-type-archive-trainer {
	.post__trainer__image {
		margin-left: 30px;
		float: left;

		img {
			border-radius: 50%;
			margin-top: 30px;
		}

		@media (max-width: $mobile - 1px) {
			float: none;
			text-align: center;
			margin-left: 0;
		}
	}

	.post__body {
		@media (min-width: $mobile) {
			padding-left: 140px;
		}

		@media (max-width: $mobile - 1px) {
			padding-top: 15px;

			h2 {
				text-align: center;
			}
		}
	}
}
